.logo {
  background: url(../images/shlogo.png) no-repeat;
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin-bottom: 100px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .logo {
    margin-bottom: 25px;
  }
}

.btn-push {
  position: relative;
  top: 0px;
  font-family: Ubuntu;
  text-decoration: none;
  font-size: 25px;
  background: #f7f7f7;
  padding: 15px 50px;
  margin: 0 10px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #c4c4c4;
  -moz-box-shadow: 0px 5px 0px #c4c4c4;
  -ms-box-shadow: 0px 5px 0px #c4c4c4;
  -o-box-shadow: 0px 5px 0px #c4c4c4;
  box-shadow: 0px 5px 0px #c4c4c4;
  color: #222;
  text-shadow: 1px 1px 1px #fff;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}
/*==========  Active State  ==========*/
.btn-push:hover {
  position: relative;
  top: 5px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}
/*==========  Navy  ==========*/
.btn-push.navy {
  background: #1b486d;
  border: 1px solid #07121b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #07121b;
  -moz-box-shadow: 0px 5px 0px #07121b;
  -ms-box-shadow: 0px 5px 0px #07121b;
  -o-box-shadow: 0px 5px 0px #07121b;
  box-shadow: 0px 5px 0px #07121b;
  text-shadow: 1px 1px 1px #07121b;
}

/* Schedule Table */

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Ubuntu;
	color:#F6F6F6;
	font-size:14px;
	width:275px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
}
caption {
        caption-side: top;
        color:#F4F4F4;
        text-align: center;
        font-size: 22px;
}
table tr td {
        border-top: 1px solid #fff;
}
table tr td:first-child {
        text-align: right;
}
table tr td:nth-child(even) {
        text-align: left;
}
table td {
	padding:15px;
}
