	<section id="fh5co-schedule" data-section="schedule">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.schedule.title }}{{ . | markdownify }}{{ end }}</h2>
				</div>
			</div>
			<div class="row">
			        <div class="col-md-4 to-animate">
                                        <table cellspacing='0'>
                                                <caption>Friday</caption>
                                                <tbody>
			                        {{ range .Site.Params.schedule.friday }}
		                                        <tr>
                                                                <td>{{ .time | markdownify}}</td>
                                                                <td>{{ .name | markdownify}}</td>
                                                                <td></td>
                                                        </tr>
			                        {{ end }}
                                                </tbody>
                                        </table>
                                </div>
			        <div class="col-md-4 to-animate text-center">
                                        <table cellspacing='0'>
                                                <caption>Saturday</caption>
                                                <tbody>
			                        {{ range .Site.Params.schedule.saturday }}
		                                        <tr>
                                                                <td>{{ .time | markdownify}}</td>
                                                                <td>{{ .name | markdownify}}</td>
                                                                <td></td>
                                                        </tr>
			                        {{ end }}
                                                </tbody>
                                        </table>
                                </div>
			        <div class="col-md-4 to-animate text-center">
                                        <table cellspacing='0'>
                                                <caption>Sunday</caption>
                                                <tbody>
			                        {{ range .Site.Params.schedule.sunday }}
		                                        <tr>
                                                                <td>{{ .time | markdownify}}</td>
                                                                <td>{{ .name | markdownify}}</td>
                                                                <td></td>
                                                        </tr>
			                        {{ end }}
                                                </tbody>
                                        </table>
                                </div>
			</div>
		</div>
	</section>
