	<section id="fh5co-sponsors" data-section="sponsors">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.sponsors.title }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.sponsors.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
                        {{ if .Site.Params.sponsors.enPlat }}
			        <div class="row row-bottom-padded-sm platinum-sponsor text-center">
                                    <p class="to-animate"> Platinum </p>
			        {{ range .Site.Params.sponsors.platinum }}
			        	<div class="col-md-6 col-sm-6 col-xxs-12">
			        		<a href="{{ .link }}" class="fh5co-sponsor-item to-animate">
			        			<img src="images/{{ .img }}" alt="{{ .alt }}" class="img-responsive center-block">
			        		</a>
			        	</div>
			        {{ end }}
			    	<div class="clearfix"></div>
                                </div>
                        {{ end }}
                        {{ if .Site.Params.sponsors.enTrac }}
			        <div class="row row-bottom-padded-sm track-sponsor text-center">
                                <p class="to-animate"> Track </p>
                                {{ range .Site.Params.sponsors.track }}
			        	<div class="col-md-6 col-sm-4 col-xxs-12">
			        		<a href="{{ .link }}" class="fh5co-sponsor-item to-animate">
			        			<img src="images/{{ .img }}" alt="{{ .alt }}" class="img-responsive center-block">
			        		</a>
                                        </div>	
			        {{ end }}
			    	<div class="clearfix"></div>
                                </div>
			{{ end }}
                        {{ if .Site.Params.sponsors.enGold }}
			        <div class="row row-bottom-padded-sm gold-sponsor text-center">
                                <p class="to-animate"> Gold </p>
                                <div class="col-md-3"></div>
                                {{ range .Site.Params.sponsors.gold }}
			        	<div class="col-md-6 col-sm-6 col-xxs-12">
			        		<a href="{{ .link }}" class="fh5co-sponsor-item to-animate">
			        			<img src="images/{{ .img }}" alt="{{ .alt }}" class="img-responsive center-block">
			        		</a>
			        	</div>				
			        {{ end }}
                                </div>
			{{ end }}
                        {{ if .Site.Params.sponsors.enSilv }}
		                <div class="row row-bottom-padded-sm silver-sponsor text-center">
                                <p class="to-animate"> Silver </p>
                                <div class="col-md-3"></div>
                                {{ range .Site.Params.sponsors.silver }}
			        	<div class="col-md-6 col-sm-6 col-xxs-12">
			        		<a href="{{ .link }}" class="fh5co-sponsor-item to-animate">
			        			<img src="images/{{ .img }}" alt="{{ .alt }}" class="img-responsive center-block">
			        		</a>
			        	</div>				
			        {{ end }}
                                </div>
			{{ end }}
                        {{ if .Site.Params.sponsors.enBron }}
			        <div class="row row-bottom-padded-sm bronze-sponsor text-center">
                                <p class="to-animate"> Bronze </p>
                                {{ range .Site.Params.sponsors.bronze }}
			        	<div class="col-md-4 col-sm-4 col-xxs-12">
			        		<a href="{{ .link }}" class="fh5co-sponsor-item to-animate">
			        			<img src="images/{{ .img }}" alt="{{ .alt }}" class="img-responsive center-block">
			        		</a>
			        	</div>				
			        {{ end }}
                                </div>
			{{ end }}
                        {{ if .Site.Params.sponsors.enHard }}
                                <div class="row row-bottom-padded-sm hardware-sponsor text-center">
                                <p class="to-animate"> Hardware Sponsor </p>
                                <div class="col-md-4"></div>
			        {{ range .Site.Params.sponsors.hardware }}
			        	<div class="col-md-4 col-sm-4 col-xxs-12">
                                        {{ if .Site.Params.sponsors.track.img }}
			        		<a href="{{ .link }}" class="fh5co-sponsor-item to-animate">
			        			<img src="images/{{ .img }}" alt="{{ .alt }}" class="img-responsive center-block">
			        		</a>
			        	{{ end }}
			        	</div>				
			        {{ end }}
                                </div>
			{{ end }}
                        {{ if .Site.Params.sponsors.enPart }}
                                <div class="row row-bottom-padded-sm partner-sponsor text-center">
                                <p class="to-animate"> Partners </p>
			        {{ range .Site.Params.sponsors.partner }}
			        	<div class="col-md-6 col-sm-6 col-xxs-12">
			        		<a href="{{ .link }}" class="fh5co-sponsor-item to-animate">
			        			<img src="images/{{ .img }}" alt="{{ .alt }}" class="img-responsive center-block">
			        		</a>
			        	</div>				
			        {{ end }}
                                </div>
			{{ end }}
		</div>
	</section>
